<script>
import { axiosInstance, handleError } from '../utils.js';
import { user } from '../stores.js';

let email, password;
let loading = false;

async function login(email, password) {
	try {
		const response = await axiosInstance({
			url: '/login',
			method: 'POST',
			data: { email, password },
		});

		user.set(response.data);
	} catch (error) {
		handleError(error);
	}
}
</script>

<form>
	<div class="field">
		<label for="email" class="label">E-mail</label>
		<div class="control">
			<input bind:value={email} name="email" class="input" type="email">
		</div>
	</div>
	<div class="field">
		<label for="password" class="label">Password</label>
		<div class="control">
    		<input bind:value={password} class="input" type="password" name="password">
		</div>
	</div>
	<div class="field">
  		<div class="control">
    		<button
				on:click|preventDefault={login(email, password)}
				class="button primary is-centered is-primary"
				class:is-loading={loading}>
				Login
			</button>
		</div>
	</div>
</form>