<script>
import { onDestroy } from 'svelte';
import { getCookie, axiosInstance, handleError } from '../utils.js';

let tasks = [];
let timeoutId, intervalId = null;
let currentDate = new Date();
$: currentTimestamp = currentDate.getTime();

function _getProgress(task) {
    const createdAtSeconds = (task.created_at / 1000);
    const completedSec = (task.timestamp / 1000) - createdAtSeconds;
    const currrentSec = (currentTimestamp / 1000) - createdAtSeconds;
    return Math.round((currrentSec / completedSec) * 100);
}

async function getScheduledHttpTasks() {
    try {
        const response = await axiosInstance({
            url: '/scheduled-http-requests',
            method: 'GET',
        });

        tasks = (response.data || []).map(task => {
            task.currentProgress = _getProgress(task);
            return task;
        });
    } catch (error) {
        handleError(error);
    } finally {
        timeoutId = setTimeout(getScheduledHttpTasks, 5000);
    }
}

async function deleteScheduledHttpTask(taskId) {
    try {
        await axiosInstance({
            url: `/scheduled-http-requests/${taskId}`,
            method: 'DELETE',
        });
    } catch (error) {
        handleError(error);
    } finally {
        if (timeoutId) {
            clearTimeout(timeoutId);
        }
        await getScheduledHttpTasks();
    }
}

onDestroy(() => {
    if (timeoutId) {
        clearTimeout(timeoutId);
        timeoutId = null;
    }
    if (intervalId) {
        clearInterval(intervalId);
        intervalId = null;
    }
});

getScheduledHttpTasks();

intervalId = setInterval(() => {
    currentDate = new Date();
}, 1000);
</script>

<div class="table-container">
    {#if tasks.length > 0}
        <table class="table is-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Url</th>
                    <th class="progress-th">Progress ({currentDate.toLocaleTimeString()})</th>
                    <th>Scheduled datetime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {#each tasks as task (task.id)}
                    <tr>
                        <td>{task.id}</td>
                        <td>{task.url}</td>
                        <td>
                            <progress
                                class="mt-2 is-small"
                                value="{task.currentProgress || 0}"
                                max="100">
                            </progress>
                        </td>
                        <td>{(new Date(task.timestamp)).toLocaleDateString()} {(new Date(task.timestamp)).toLocaleTimeString()}</td>
                        <td>
                            <button
                                on:click|preventDefault={deleteScheduledHttpTask(task.id)}
                                class="button is-centered is-danger is-small">
                                Delete
                            </button>
                        </td>
                    </tr>
                {/each}
            </tbody>
        </table>
    {:else}
        <p>No active scheduled http tasks found...</p>
    {/if}
</div>

<style>
.progress-th {
    min-width: 190px;
}
</style>
