<script>
import { handleError } from '../utils.js';
let loading = false;
export let shortUrl = {};

export let saveFunction = async() => {};
export let cancelFunction = null;

async function save() {
    loading = true;
	try {
		await saveFunction(shortUrl);
	} catch (error) {
		handleError(error);
	} finally {
		loading = false;
	}
}
</script>

<form>
	<div class="field">
		<label for="originalUrl" class="label">Original url</label>
		<div class="control">
			<input bind:value={shortUrl.originalUrl} class="input" type="text" name="originalUrl">
		</div>
	</div>
	<div class="field">
		<label for="shortUrlPath" class="label">Short url path</label>
		<div class="control">
    		<input bind:value={shortUrl.shortUrlPath} class="input" type="text" name="shortUrlPath">
		</div>
	</div>
	<div class="field is-grouped">
		<div class="control">
			<button
				on:click|preventDefault={save}
				class="button is-primary"
				class:is-loading={loading}>
				Save
			</button>
		</div>
		{#if cancelFunction !== null}
			<div class="control">
				<button
					class="button"
					on:click|preventDefault={cancelFunction}>
					Cancel
				</button>
			</div>
		{/if}
	</div>
</form>