<script>
import ShortUrlForm from './ShortUrlForm.svelte';
import { getCookie, axiosInstance, handleError } from '../utils.js';

const actions = {
    create: 'CREATE',
    edit: 'EDIT',
    delete: 'DELETE',
};
let shortUrls = [];
let selectedShortUrl = {};
let actionPicked = null;
let isModalOpen, loading = false;

function selectUserAction(shortUrlData, actionName) {
    selectedShortUrl = shortUrlData;
    actionPicked = actionName;
    isModalOpen = true;
}

function closeModal() {
    isModalOpen = false;
}

async function getShortUrls() {
    try {
        const response = await axiosInstance({
            url: '/short-urls',
            method: 'GET',
        });

        shortUrls = response.data;
    } catch (error) {
        handleError(error);
    }
}

async function updateShortUrl(shortUrlData) {
    const response = await axiosInstance({
        url: `/short-urls/${shortUrlData.id}`,
        method: 'PATCH',
        data: shortUrlData
    });

    const savedShortUrl = response.data;

    shortUrls = shortUrls.map(shortUrl => {
        if (shortUrl.id === savedShortUrl.id) {
            return savedShortUrl;
        }
        return shortUrl;
    });

    closeModal();
}

async function deleteShortUrl() {
    try {
        await axiosInstance({
            url: `/short-urls/${selectedShortUrl.id}`,
            method: 'DELETE',
        });

        shortUrls = shortUrls.filter(shortUrl => shortUrl.id !== selectedShortUrl.id);

        closeModal();
    } catch (error) {
        handleError(error);
    }
}

async function createShortUrl(shortUrlData) {
    const response = await axiosInstance({
        url: '/short-urls',
        method: 'POST',
        data: shortUrlData
    });

    shortUrls = [...shortUrls, response.data];

    closeModal();
}
</script>

<div class="table-container">
    <div class="buttons has-addons is-centered">
        <button
            class="button is-primary"
            on:click|preventDefault={() => selectUserAction({}, actions.create)}>
            Create Short Url
        </button>
    </div>
    {#await getShortUrls()}
        <p>Loading...</p>
    {:then}
        {#if shortUrls.length > 0}
            <table class="table is-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Original url</th>
                        <th>Short url path</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {#each shortUrls as shortUrl (shortUrl.id)}
                        <tr>
                            <td>{shortUrl.id}</td>
                            <td>{shortUrl.originalUrl}</td>
                            <td>{shortUrl.shortUrlPath}</td>
                            <td>{shortUrl.created_at || ''}</td>
                            <td>{shortUrl.updated_at || ''}</td>
                            <td>
                                <button
                                    on:click|preventDefault={selectUserAction(shortUrl, actions.edit)}
                                    class="button is-centered is-small">
                                    Edit
                                </button>
                                <button
                                    on:click|preventDefault={selectUserAction(shortUrl, actions.delete)}
                                    class="button is-centered is-danger is-small">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {/each}
                </tbody>
            </table>
        {:else}
            <p>No short urls found...</p>
        {/if}
    {:catch error}
        <p class="is-danger">{error.message}</p>
    {/await}
</div>

<div class="modal"
    class:is-active={isModalOpen}>
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            {#if actionPicked === actions.edit}
                <h1 class="subtitle">Edit Short Url</h1>
                <ShortUrlForm
                    shortUrl={selectedShortUrl}
                    saveFunction={updateShortUrl}
                    cancelFunction={closeModal} />
            {:else if actionPicked === actions.delete}
                <h1 class="subtitle">Delete User</h1>
                <p>Are you sure you want to delete the short url 
                    <span class="has-text-primary">{selectedShortUrl.shortUrlPath}</span>?
                </p>
                <div class="mt-5">
                    <button
                        on:click|preventDefault={deleteShortUrl}
                        class="button is-danger mr-2"
                        class:is-loading={loading}>
                        Delete
                    </button>
                    <button
                        class="button"
                        on:click|preventDefault={closeModal}>
                        Cancel
                    </button>
                </div>
            {:else if actionPicked === actions.create}
                <h1 class="subtitle">Create User</h1>
                <ShortUrlForm
                    shortUrl={selectedShortUrl}
                    saveFunction={createShortUrl}
                    cancelFunction={closeModal} />
            {/if}
        </div>
    </div>
</div>