<script>
import UserForm from './UserForm.svelte';
import { saveProfileData } from '../services.js';
import { axiosInstance, handleError } from '../utils.js';

const actions = {
    create: 'CREATE',
    edit: 'EDIT',
    delete: 'DELETE',
};
let users = [];
let selectedUser = {};
let actionPicked = null;
let isModalOpen,loading = false;

function selectUserAction(userData, actionName) {
    selectedUser = userData;
    actionPicked = actionName;
    isModalOpen = true;
}

function closeModal() {
    isModalOpen = false;
}

async function getUsers() {
    try {
        const response = await axiosInstance({
            url: '/users',
            method: 'GET',
        });

        users = response.data;
    } catch (error) {
        handleError(error);
    }
};

async function updateUser(userData) {
    const savedUserData = await saveProfileData(userData);

    users = users.map(user => {
        if (user.id === savedUserData.id) {
            return savedUserData;
        }
        return user;
    });

    closeModal();
}

async function deleteUser() {
    loading = true;
    try {
        await axiosInstance({
            url: `/users/${selectedUser.id}`,
            method: 'DELETE',
        });

        users = users.filter(user => user.id !== selectedUser.id);

        closeModal();
    } catch (error) {
        handleError(error);
    } finally {
        loading = false;
    }
}

async function createUser(userData) {
    const response = await axiosInstance({
        url: '/users',
        method: 'POST',
        data: userData
    });

    users = [...users, response.data];

    closeModal();
}
</script>

<div class="table-container">
    <div class="buttons has-addons is-centered">
        <button
            class="button is-primary"
            on:click|preventDefault={() => selectUserAction({}, actions.create)}>
            Create User
        </button>
    </div>
    {#await getUsers()}
        <p>Loading...</p>
    {:then}
        {#if users.length > 0}
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>E-mail</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Admin</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {#each users as user (user.id)}
                        <tr>
                            <td>{user.id}</td>
                            <td>{user.email}</td>
                            <td>{user.firstName || ''}</td>
                            <td>{user.lastName || ''}</td>
                            <td>{user.isAdmin}</td>
                            <td>
                                <button
                                    on:click|preventDefault={selectUserAction(user, actions.edit)}
                                    class="button is-centered is-small">
                                    Edit
                                </button>
                                <button
                                    on:click|preventDefault={selectUserAction(user, actions.delete)}
                                    class="button is-centered is-danger is-small">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {/each}
                </tbody>
            </table>
        {:else}
            <p>No users found...</p>
        {/if}
    {:catch error}
        <p class="is-danger">{error.message}</p>
    {/await}
</div>

<div class="modal"
    class:is-active={isModalOpen}>
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            {#if actionPicked === actions.edit}
                <h1 class="subtitle">Edit User</h1>
                <UserForm
                    isAdminDisabled={false}
                    user={selectedUser}
                    saveFunction={updateUser}
                    cancelFunction={closeModal} />
            {:else if actionPicked === actions.delete}
                <h1 class="subtitle">Delete User</h1>
                <p>Are you sure you want to delete the user 
                    <span class="has-text-primary">{selectedUser.email}</span>?
                </p>
                <div class="mt-5">
                    <button
                        on:click|preventDefault={deleteUser}
                        class="button is-danger mr-2"
                        class:is-loading={loading}>
                        Delete
                    </button>
                    <button
                        class="button"
                        on:click|preventDefault={closeModal}>
                        Cancel
                    </button>
                </div>
            {:else if actionPicked === actions.create}
                <h1 class="subtitle">Create User</h1>
                <UserForm
                    isAdminDisabled={false}
                    showPasswordField={true}
                    user={selectedUser}
                    saveFunction={createUser}
                    cancelFunction={closeModal} />
            {/if}
        </div>
    </div>
</div>