<script>
import { handleError } from '../utils.js';
let loading = false;
export let user = {};
export let isAdminDisabled = true;
export let showPasswordField = false;

export let saveFunction = async() => {};
export let cancelFunction = null;

async function save() {
    loading = true;
	try {
		await saveFunction(user);
	} catch (error) {
		handleError(error);
	} finally {
		loading = false;
	}
}
</script>

<form>
	<div class="field">
		<label for="email" class="label">E-mail</label>
		<div class="control">
			<input bind:value={user.email} class="input" type="email" name="email">
		</div>
	</div>
	{#if showPasswordField}
		<div class="field">
			<label for="password" class="label">Password</label>
			<div class="control">
				<input bind:value={user.password} class="input" type="password" name="password">
			</div>
		</div>
	{/if}
	<div class="field">
		<label for="firstName" class="label">First name</label>
		<div class="control">
    		<input bind:value={user.firstName} class="input" type="text" name="firstName">
		</div>
	</div>
	<div class="field">
		<label for="lastName" class="label">Last name</label>
		<div class="control">
    		<input bind:value={user.lastName} class="input" type="text" name="lastName">
		</div>
	</div>
	<div class="field">
		<label class="checkbox">
			<input type="checkbox" bind:checked={user.isAdmin} disabled={isAdminDisabled} name="isAdmin">
			isAdmin
		</label>
	</div>
	<div class="field is-grouped">
		<div class="control">
			<button
				on:click|preventDefault={save}
				class="button is-primary"
				class:is-loading={loading}>
				Save
			</button>
		</div>
		{#if cancelFunction !== null}
			<div class="control">
				<button
					class="button"
					on:click|preventDefault={cancelFunction}>
					Cancel
				</button>
			</div>
		{/if}
	</div>
</form>