<script>
import routes from './routes.js';
import { user, isLoggedIn, currentRoute, notificationMessage, notificationClass } from './stores.js';
import { bootstrap, axiosInstance, handleError } from './utils.js';
import Login from './components/Login.svelte';
import Users from './components/Users.svelte';
import Profile from './components/Profile.svelte';
import ScheduledHttpTasks from './components/ScheduledHttpTasks.svelte';
import ShortUrls from './components/ShortUrls.svelte';

let isBurgerMenuOpen = false;

function toggleBurgerMenu() {
	isBurgerMenuOpen = !isBurgerMenuOpen;
}

function closeBurgerMenu() {
	isBurgerMenuOpen = false;
}

function closeBurgerMenuOnOutsideClick(event) {
	const navElement = document.getElementsByClassName('navbar')[0];

	if (!navElement.contains(event.target) && isBurgerMenuOpen) {
		event.preventDefault();
		closeBurgerMenu();
	}
}

function switchRoute(routeName) {
	closeBurgerMenu();
	currentRoute.set(routeName);
}

async function logout() {
	try {
		await axiosInstance({
			url: '/logout',
			method: 'GET',
		});

		user.set(null);
		currentRoute.set(routes.scheduledTasks);
	} catch (error) {
		handleError(error);
	}
}
</script>

<svelte:body
	on:click={closeBurgerMenuOnOutsideClick}
/>

{#await bootstrap()}
	<div id="loader"></div>
{:then ready}
	{#if $notificationMessage}
		<div class="notification mt-2 notification-fixed {$notificationClass}">
			<button class="delete" on:click|preventDefault={() => notificationMessage.set(null)}></button>
			{$notificationMessage}
		</div>
	{/if}
	<nav class="navbar is-fixed-top has-background-primary box-shadow-bottom" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/dashboard">
				<img src="/public/favicon.png" alt="Dashboard - Server Utils" width="30" height="30">
			</a>
			{#if $isLoggedIn}
				<a
				role="button"
				href="#menu"
				class="navbar-burger"
				aria-label="menu"
				aria-expanded={isBurgerMenuOpen}
				class:is-active={isBurgerMenuOpen}
				on:click|preventDefault={toggleBurgerMenu}>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			{/if}
		</div>
		<div class="navbar-menu" class:is-active={isBurgerMenuOpen}>
			{#if $isLoggedIn}
				<div class="navbar-start">
					<a
						class="navbar-item"
						class:is-active={$currentRoute === routes.scheduledTasks}
						href="#scheduler"
						on:click|preventDefault={() => switchRoute(routes.scheduledTasks)}>
						Scheduled Requests
					</a>
					<a
						class="navbar-item"
						class:is-active={$currentRoute === routes.shortUrls}
						href="#short-urls"
						on:click|preventDefault={() => switchRoute(routes.shortUrls)}>
						Short URLs
					</a>
					{#if $user.isAdmin}
						<a
							class="navbar-item"
							class:is-active={$currentRoute === routes.users}
							href="#users"
							on:click|preventDefault={() => switchRoute(routes.users)}>
							Users
						</a>
					{/if}
				</div>
				<div class="navbar-end">
					<a
						class="navbar-item"
						class:is-active={$currentRoute === routes.profile}
						href="#users"
						on:click|preventDefault={() => switchRoute(routes.profile)}
					>
						{$user.email}
					</a>
					<a
						class="navbar-item"
						href="#logout"
						on:click|preventDefault={() => {
							closeBurgerMenu(); 
							logout();
						}
					}>
						Logout
					</a>
				</div>
			{/if}
		</div>
	</nav>
	<section class="section has-text-white">
		<div class="container">
			<main class="columns is-centered">
				{#if !$isLoggedIn}
					<Login/>
				{:else if $currentRoute === routes.scheduledTasks}
					<ScheduledHttpTasks/>
				{:else if $currentRoute === routes.shortUrls}
					<ShortUrls/>
				{:else if $currentRoute === routes.users}
					<Users/>
				{:else if $currentRoute === routes.profile}
					<Profile/>
				{:else}
					<p>Page not found.</p>
				{/if}
			</main>
		</div>
	</section>
{:catch error}
	<button class="button reload" on:click|preventDefault={() => window.location.reload()}>Reload</button>
{/await}

<style>
	.notification-fixed {
		text-align: center;
		position: fixed;
		top: 0;
		left: 50%;
		width: 600px;
		margin-left: -300px;
		z-index: 100;
	}
	.reload {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80px;
		height: 40px;
		margin: -20px 0 0 -40px;
	}
	/* bulma mobile breakpoint */
	@media screen and (max-width: 768px) {
		.notification-fixed {
			width: 98vw;
			left: 0;
			margin-left: 1vw;
			margin-right: 1vw;
		}
	}
</style>