$dark-blue: #333652;
$yellow: #fad02c;
$yellow-light: #fbe691fb;
$pewter: #e9eaec;
$blue-gray: #90adc6;

$primary: $yellow;
$light: $pewter;
$link: $dark-blue;
$white-bis: $yellow-light;

@import "bulma/bulma.sass";

html {
    overflow-y: auto;
    scrollbar-color: $blue-gray $pewter;
}

body {
    min-height: 100vh;
    background: $dark-blue;

    .table, .table th, .box, .subtitle {
        background: $dark-blue;
        color: $white;
    }

    .label {
        color: $white;
    }
}

.box-shadow-bottom {
    box-shadow: 0 2px 2px -2px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    border: 16px solid $white;
    border-top: 16px solid $warning-light;
    margin: -60px 0 0 -60px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}